<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Example</title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="(message, index) in messages" :key="index">
        <span v-if="message.own" style="color: green">{{message.text}} - sent - {{message.date}}</span>
        <span v-else style="color: red">{{message.text}} - received - {{message.date}}</span>
      </li>
    </ul>
    <form @submit.prevent="sendMessage">
      <input type="text" v-model="input" />
      <input type="submit" value="send" />
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script>
    // connect to server
    const socket = io(window.location.href);

    new Vue({
      el: '#app',
      data:{
        input: '',
        messages: []
      },
      created() {
        // when a message is emitted add it to messages
        socket.on('server:message', (data) => {
          this.messages.push({
            text: data.message,
            date: new Date()
          });
        });
      },
      methods: {
        // handle form's "submit" event
        sendMessage: function() {
          if (this.input) {
            // send message from client
            socket.emit('client:message', { message: this.input });
            // add message to messages
            this.messages.push({
              text: this.input,
              date: new Date(),
              own: true
            });
          }
        }
      }
    });
  </script>
</body>
</html>